// Footer
// ------------------------------------------------------------------------------------------------

footer {
    
    ul {
        margin-top: 20px;

        li {
            font-size: 11px;
            color: $color-off-white;
            line-height: 2;

            a {
                &:hover {
                    color: $color-yellow;
                }
            }
        }

        &.faq-list {
            column-count: 2;
            column-gap: 35px;

            li {
                margin-bottom: 10px;
                line-height: 1.6;

                a {
                    border-bottom: 1px solid #3F92BB;    
                    padding-bottom: 5px;
                    display: inline-block;
                }
            }

            .inner {
                padding-right: 45px;
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;

        .btn {
            min-width: 200px;
            width: 200px;
            padding: 12px 0;

            &:first-child {
                margin-bottom: 16px;
            }
        }
    }

    .pre-footer {
        background: $color-blue-dark;
        padding: 30px 40px;
        min-height: 200px;
    }

    .footer-small {
        padding: 0 30px;
        min-height: 70px;
        background: $color-grey-dark;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .copyright,
        .social {
            height: 100%;
        }

        .social {
            img {
                height: 30px;
                width: 30px;
                margin: 0 5px;
            }
        }

        p {
            color: $color-off-white;
            font-size: 11px;
        }
    }

    .footer-section {
        &:nth-child(2) {
            margin: 20px 0;

            @include MQ(S) {
                margin: 0;
                border-left: 1px solid #3F92BB;
                border-right: 1px solid #3F92BB;
                padding: 0 50px;
            }
        }

        &:last-child {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}