// // Forum
// // ------------------------------------------------------------------------------------------------

// #bbpress-forums {
// background: transparent;
// clear: both;
// margin-bottom: 20px;
// overflow: hidden;
// font-size: 12px;
// }

// #bbpress-forums li.bbp-header,
// #bbpress-forums li.bbp-footer {
//  background: #f3f3f3;
//  border-top: 1px solid #eee;
//  font-weight: bold;
//  padding: 8px;
//  text-align: center;
// }
 
// #bbpress-forums li.bbp-header {
//  background: #eaeaea;
// }

// #bbpress-forums div.bbp-reply-header {
//     background-color: #f4f4f4;
// }

// div.bbp-template-notice.info {
//     border: #cee1ef 1px solid;
//     background-color: #f0f8ff;
// }

// #bbpress-forums div.even,
// #bbpress-forums ul.even {
//  background-color: #fff;
// }
 
// #bbpress-forums div.odd,
// #bbpress-forums ul.odd {
//  background-color: #fbfbfb;
// }

// .bbp-topics-front ul.super-sticky,
// .bbp-topics ul.super-sticky,
// .bbp-topics ul.sticky,
// .bbp-forum-content ul.sticky {
//  background-color: #ffffe0 !important;
//  font-size: 1.1em;
// }

// #bbpress-forums .status-closed,
// #bbpress-forums .status-closed a {
//  color: #ccc;
// }

// #bbpress-forums ul.bbp-threaded-replies {
//  margin-left: 50px;
// }

// #bbpress-forums .bbp-topic-content,
// #bbpress-forums .bbp-reply-content {
//     font-size: 12px;
// }

// span.bbp-admin-links {
//  float: right;
//  color: #ddd;
// }
 
// span.bbp-admin-links a {
//  color: #bbb;
//  font-weight: normal;
//  font-size: 10px;
//  text-transform: uppercase;
//  text-decoration: none;
// }

// div.bbp-template-notice,
// div.indicator-hint {
//  border-width: 1px;
//  border-style: solid;
//  padding: 0 0.6em;
//  margin: 5px 0 15px;
//  border-radius: 3px;
//  background-color: #ffffe0;
//  border-color: #e6db55;
//  color: #000;
//  clear: both;
// }
// div.bbp-template-notice a {
//  color: #555;
//  text-decoration: none;
// }
//  div.bbp-template-notice a:hover {
//  color: #000;
//  }
//  div.bbp-template-notice.info {
//  border: #cee1ef 1px solid;
//  background-color: #f0f8ff;
//  }
//  div.bbp-template-notice.important {
//  border: #e6db55 1px solid;
//  background-color: #fffbcc;
//  }
//  div.bbp-template-notice.error,
//  div.bbp-template-notice.warning {
//  background-color: #ffebe8;
//  border-color: #c00;
//  }
//  div.bbp-template-notice.error a,
//  div.bbp-template-notice.warning a {
//  color: #c00;
//  }
//  div.bbp-template-notice p {
//  margin: 0.5em 0 6px 0 !important;
//  padding: 2px;
//  font-size: 12px;
//  line-height: 140%;
//  }

//  #bbpress-forums .submit {
//     background-color: #a0668d;
//     color: #FFFFFF;
//     float: center;
//     vertical-align: middle;
//     border-radius: 10px;
//     height: 35px;
//     width: 80px;
//     font-size: 18px;
// }

// .widget_display_topics .bbp-author-avatar { 
//     display: none ! important; 
// }
 
// .bbp-topic-freshness-author  .bbp-author-avatar { 
//     display: none ! important; 
// }

section {
    &.forum {
        p {
            font-size: 14px;
            line-height: 1.5;
            margin: 10px 0;
        }

        input {
            height: auto;
        }

        input[type=text] {
            height: 30px;
        }

        label {
            margin: 10px 0;
            display: inline-block;
        }
    }

    // .bbp-topic-form {
    //     max-width: 500px;
    // }
}

#bbpress-forums fieldset.bbp-form label {
    margin: 10px 0;
}

#bbpress-forums div.bbp-search-form {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}

#bbp_search_submit {
    padding: 7px 14px !important;
}

#bbpress-forums #bbp-search-form #bbp_search {
    display: inline-block;
    width: 50%;
    margin-right: 20px;
}

div.bbp-breadcrumb {
    float: left;
    clear: left;
    margin-bottom: 20px;
}

#bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-search-results {
    font-size: 12px;
    overflow: hidden;
    border: 1px solid #eee;
    margin-bottom: 100px;
    clear: both;
}

#edd-purchase-button {
    padding: 6px 12px !important;
    margin-top: 40px;
}

#subscription-toggle {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

#bbpress-forums div.reply {
    min-height: 400px;

    iframe {
        min-height: 400px;
    }
}