// Basic Layout
// ------------------------------------------------------------------------------------------------

.row {
    width: 100%;
}

.vimeo-row {
    margin-top: 40px;
}

section {
    padding: 50px 15px;

    @include MQ(S) {
        padding: 65px 0;
    }

    &.no-padding {
        padding: 0;
    }

    &.no-padding-top {
        padding-top: 0;
    }

    h2 {
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 30px;
        font-size: 22px;

        @include MQ(S) {
            margin-bottom: 60px;
            font-size: 26px;
        }
    }

    &.three-col {
        .col-sm-3 {
            padding: 20px 0;

            @include MQ(XS) {
                padding: 0 30px 20px;
            }
        }
    }
}

// Intro

.intro {
    p {
        font-size: 18px;
        line-height: 36px;
        text-align: center;
        max-width: 900px;
        margin: 0 auto;

        @include MQ(S) {
        font-size: 24px;
        line-height: 42px;
        }
    }
}

// How it works


.how-it-works,
.with-icons {
    .icon {
        margin: 0 auto 30px auto;
        height: 75px;
        width: 75px;
        // background: lighten( $color-yellow, 10% );
        background: transparent;
        border-radius: 50%;
    }
}

// Membership

.membership {
    h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    p {
        font-weight: 300;
    }

    .button-wrap {
        margin-bottom: 0;
    }
}

.btn {
    min-width: 250px;
    text-align: center;
}



// Videos

.ajax-load-more-wrap,
.alm-listing,
.alm-reveal {
    width: 100%;
}

.alm-reveal {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    -ms-flex: 1 1 auto;
}

.video-wrapper {
    min-height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.video-list {
    padding: 0;

    @include MQ(S) {
        padding: 0 40px 0 0;
    }
}



.side-bar {
    margin-bottom: 40px;

    @include MQ(S) {
        padding-right: 40px;
        margin: 0;
    }
}

// About
// ------------------------------------------------------------------------------------------------

.about {
    .hero {
        background: $color-white;
        padding-bottom: 75px;
        height: calc(100vh - 220px);
        max-height: 600px;
        margin-top: 75px;

        .video-info {
            padding: 0 25px;
        }
    }
}

.hero {
    .container,
    .row {
        height: 100%;
    }
}

// Video Thumbs

.video-sm {
    min-height: 250px;
}

.video-lg {
    min-height: 100%;
}

.video-sm,
.video-lg {
    width: 100%;
    background: $color-blue;
    position: relative;
}

.video-wrapper {
    position: relative;
    
    iframe {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    }
}

.class-levels {
    .icon {
        margin-bottom: 0;
        height: 90px;
        width: 90px;

        @media screen and (max-width: 991px) {
            margin-bottom: 60px;
        }
    }

    .middle-xs {
        margin-bottom: 65px;
        padding-right: 10%;

        &:last-child {
            margin-bottom: 0;
        }
    }

    p {
        font-size: 14px;
        font-weight: 300;

        &.lg {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 5px;
            font-family: $font-primary;
        }
    }
}

// Testimonial

.testimonial {
    margin: 0 -30px 75px -30px;

    @include MQ(S) {
        margin: 0 0 75px 0;

        padding: 0 40px;
    }

    p {
        &.source {
            font-style: italic;
            font-size: 14px;
            padding-left: 30px;
        }
    }
}

// Video Lists

.video-block {
    padding: 10px;
    margin-bottom: 10px;

    .video-wrapper {
        margin-bottom: 20px;
        min-height: 200px;
    }

    p {
        font-size: 14px;
    }
}

// Ajax Load More

.ajax-load-more-wrap {
    min-height: 650px;
}

.alm-btn-wrap {
    text-align: left !important;
}

.alm-btn-wrap .alm-load-more-btn {
    background: #63d684 !important;
}

// Related Video

.related-video {
    height: 200px;
    background: $color-black;
    width: 100%;
    padding-right: 40px;

    &:nth-last-of-type() {
        padding-right: 0;
    }
}

.video-classes {
    h2 {
        margin-bottom: 30px;
    }
}

.resources {
    &.yellow-bg {
        text-align: left;

        h2 {
            &.underline {
                margin-bottom: 40px;
            }
        }
    }
}

.download-box {
    min-height: 200px;
    background: #fff8db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    align-items: center;

    .icon {
        margin: 0;
    }
}

.dl-title {
    margin-bottom: 20px;
}

.resource-list {
    p {
        font-weight: 300;
    }
}

.edd-submit.button.green {
    background: $color-green;
    border-color: $color-green;
    border: 0;
    color: $color-blue-dark;
    font-family: $font-secondary;
    padding: 8px 20px;
    min-width: 100px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    margin-top: 25px;
    font-weight: 700;

    &:hover {
        border: 0;
        background: $color-blue-dark;
        color: $color-green;
    }
}

// Glossary

.glossary {
    h2 {
        margin-bottom: 40px;
    }

    h3 {
        font-size: 18px;
        margin-bottom: 10px;
        text-align: left;
    }

    p {
        font-weight: 300;
        text-align: left;
        font-size: 14px;
    }

    a {
        &:hover {
            color: $color-green;
        }
    }
}

// Additional Resources

.resources-wrapper {
    position: relative;
    padding-bottom: 100px;

    .drawer-arrow {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 40px;
        margin: 0 auto;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        width: 150px;
        @include global-transition;

        &.active {
            transform: rotate(180deg);
            @include global-transition;

        }
    }
}

.additional-resources {
    // height: 155px;
    // overflow: hidden;
    position: relative;
    max-height: 200px;
    transition: max-height 0.25s ease-out;
    overflow: hidden;

    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        pointer-events: none;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
        width: 100%;
        height: 4em;
        opacity: 1;
    }


    &.active {
        max-height: 900px;
        transition: max-height 0.25s ease-in;

        &:after {
            opacity: 0;
        }
    }

    #edd-purchase-button, .edd-submit, input[type=submit].edd-submit {
        border: 0;
        padding: 0;
        line-height: inherit;

    }

    h2 {
        margin-bottom: 20px;
    }

    h3 {
        margin-top: 5px;
        margin-bottom: 30px;
    }

    p {
        font-family: $font-primary;
        padding-right: 10%;
    }


    ul {
        li {
            color: $color-blue;
            font-size: 14px;
            border-bottom: 1px solid $color-black;
            padding-bottom: 5px;
            margin-bottom: 5px;

            a {
                font-family: $font-primary;
            }
        }
    }
}


.resource-box {
    &:first-of-type {
        margin-left: -30px;
    }
}

.related-posts {
    .video-wrapper {
        height: 133px;
        min-height: 133px;
        background-color: $color-black;
        width: 100%;
        padding-right: 40px;
        margin-bottom: 10px;

        &:nth-last-of-type() {
            padding-right: 0;
        }
    }
}

.related-posts {
    position: relative;

    .slider {
        max-width: 900px;
        margin: 0 auto;
        position: relative;
    }

    .slick-slide {
        margin: 0 20px;
        padding: 0 20px;
    }

    .slick-next,
    .slick-prev {
        &:hover {
            background: transparent !important;
        }
    }

    .slick-next::before {
            background: url('../../images/right_arrow.svg') no-repeat;

            content: "";
            display: block;
            height: 40px;
            width: 30px;
            background-size: 30px;
    }
    .slick-prev::before {
            background: url('../../images/left_arrow.svg') no-repeat;
            //   background-image: url('../../images/hero-img.png');

            content: "";
            display: block;
            height: 40px;
            width: 30px;
            background-size: 30px;
    }

    .slick-list {
        max-width: 800px;
        margin: 0 auto;
    }

    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        top: 65px;
    }
}

.edd_checkout_user_info {
    text-align: left;
}

#edd_checkout_form_wrap fieldset {
    border: 1px solid #eee;
    padding: 1.387em;
    margin: 0 0 21px;
    text-align: left;
}

#edd_checkout_form_wrap label {
    font-weight: 300;
    /* display: block; */
    position: relative;
    line-height: 1.5;
    font-size: 14px;
    margin: 0 0 20px 0;
    display: inline-block;
}

#edd_checkout_form_wrap span.edd-description {
    color: #666;
    font-size: 80%;
    display: block;
    margin: 0 0 20px 0;
}

#edd_checkout_form_wrap legend {
    display: none;
}

#edd_checkout_form_wrap input.edd-input, #edd_checkout_form_wrap textarea.edd-input {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.pms-alert {
    color: $color-white;
    font-size: 28px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        margin-top: 25px;
        text-decoration: underline;
        color: $color-green;
    }

}

.resources-section {
    section {
        padding: 30px 0;
    }

    p {
        &.large {
            font-weight: 800;
            font-size: 22px;
            margin-bottom: 20px;
        }
    }
}


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-green;
    margin-left: 5px;
}

.cart-info {
    display: none;
    @include MQ(L) {
        display: flex;
        align-items: center;
        position: relative;
    }
}

.cart-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    background: #FF6F69;
    height: 20px;
    width: 20px;
    align-items: center;
    border-radius: 50%;
    color: $color-white;
    position: absolute;
    bottom: 13px;
    right: -10px;
}

.checkout {
    .col-xs-8 {
        margin: 0 auto;
    }
}

// #edd-purchase-button, .edd-submit, input[type=submit].edd-submit {
//     max-width: 200px;
//     margin: 20px auto;
//     border: 0 !important;
// }

p {
    &.edd_error {
        font-size: 13px;
    }
}

.login-remember,
.pms-subscription-plan {
    input {
        width: auto;
        height: auto;
    }
}

.resource-box {
    &:nth-of-type(5) {
        margin-left: -30px;
    }
}

.vimeo-row {
    margin-top: 50px;
}