// Typography
// ------------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font-primary: 'Arvo', serif;
$font-secondary: 'Open Sans', sans-serif;

body {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  color: $color-grey-dark;
  font-family: $font-secondary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $font-primary;
  font-weight: 600;
  letter-spacing: 0.5px;

  &.underline {
    border-bottom: 2px solid;
    display: inline-block;
  }
}

h1 {
  font-size: 36px;

  @include MQ(S) {
    font-size: 45px;
  }
}

h2 {
  font-size: 32px;

  @include MQ(S) {
    font-size: 40px;
  }
}

h2 {
  font-size: 32px;

  @include MQ(S) {
    font-size: 40px;
  }
}

p {
  font-size: 1.4rem;
  font-family: $font-secondary;

  @include MQ(S) {
    font-size: 1.6rem; 
    line-height: 26px;    
  }
}


// Globals

.small {
  font-size: 1.2rem;
}

.uppercase {
  text-transform: uppercase;
}

.white {
  color: $color-white;
}

.black {
  color: $color-black;
}

// Date Styles

.date {
  font-size: 1.1rem;
  font-weight: 600;
  color: $color-border;
  line-height: 30px;
  display: inline-block;

  @include MQ(S) {
    margin-bottom: 1.0rem;    
  }
}
