// Buttons
// ------------------------------------------------------------------------------------------------

.btn,
button,
input[type=submit] {
    padding: 12px;
    background: $color-green;
    color: $color-blue-dark;
    cursor: pointer;
    border-radius: 5px;
    @include global-transition;

    &:hover {
        background: $color-blue-dark;
        color: $color-green;
        @include global-transition;
    }
}

.button-wrap {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.play-btn {
    height: 100px;
    width: 87px;
    position: relative;
    z-index: 5;
    cursor: pointer;
}

form {
    .btn,
    button,
    input[type=submit] {
        padding: 12px !important;
        background: $color-green !important;
        color: $color-blue-dark !important;
        cursor: pointer !important;
        border-radius: 5px !important;
        @include global-transition;

        &:hover {
            background: $color-blue-dark !important;
            color: $color-green !important;
            @include global-transition;
        }
    }
}